<!DOCTYPE html>
<html>
<head>
    <title>Catch 'Em All!</title>
<link href="https://fonts.googleapis.com/css?family=Orienta" rel="stylesheet">
<style>

h1 {
    font-family: 'Orienta', sans-serif;
    background-color: yellow;
    color: blue;
    padding: 10px;
    text-transform: uppercase;
}
body {
    font-family: 'Orienta', sans-serif;
    font-family: 'Sofia';font-size: 22px;
    color: red;
    text-transform: uppercase;
}
a {
    color: blue;
    text-decoration: none;
}

a:hover 
{
     color:red; 
     text-decoration:none;
     cursor:pointer;  
}
h6{
    margin: 20px;
    color: orange;
}

</style>
</head>

<body>
<h1>Pokemon!</h1>
    <ul class='pokemon'>
        <% for (let i = 0; i<pokemon.length;i++){ %>
        <li> <a href='/pokemon/<%=i%>'> <%=pokemon[i].name; %> </li>
        <% } %>
    </ul>
<nav>
    <h6><a href="/pokemon/new">Create a New Pokemon</a></h6>
</nav>
</body>
</html>