<!DOCTYPE html>
<html>
<head>
    <title>Catch 'Em All!</title>
<link href="https://fonts.googleapis.com/css?family=Orienta" rel="stylesheet">
<style>

h1 {
    font-family: 'Orienta', sans-serif;
    background-color: yellow;
    color: blue;
    padding: 10px;
    text-transform: uppercase;
}
body {
    font-family: 'Orienta', sans-serif;
    font-family: 'Sofia';font-size: 22px;
    color: red;
    text-transform: uppercase;
}

</style>
</head>

<body>
<h1>Pokemon!</h1>
    <ul class='pokemon'>
        <% for (let i = 0; i<pokemon.length;i++){ %>
        <li> <a href='/pokemon/<%=i%>'> <%=pokemon[i].name; %> </li>
        <% } %>
    </ul>
</body>
</html>