<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <h1>New Pokemon</h1>
  <form action="/pokemon" method="POST">
    Name: <input type="text" name="name" value= <%=pokemon.name%>><br/>
    Img: <input type="text" name="img" value= <%=pokemon.img%>><br/>
    <button type="submit">Create Pokemon</button>
  </form>
</body>
</html>
